/* BOOTSTRAP */
.body{
    background: rgb(57,107,49);
    background: linear-gradient(0deg, rgba(57,107,49,1) 0%, rgba(34,68,26,1) 100%);
    width: 100%;
    font-family:'Red Hat Display', sans-serif;
}
.nav_index{
    flex-direction: column-reverse;
}
.navbar{
    background-color: white;
}
.links_header {
    display:flex;
    flex-direction:row;
    justify-content: end;
    gap: 10px;
    list-style: none;
    
}
.links_header li a{
    text-decoration: none;
    color:white;
}
.border:hover{
    background-color: rgb(192, 184, 184);
}
.boton_comprar{
    border: solid 1px;
    border-radius: 5px;
    height: 40px;
}
.footer{
    background-color:  rgba(57,107,49,1);
}
.titulo_contenido{
    text-align: center;
    color: white;
}

